<app-header></app-header>
<div class="contact-page">
    <div class="heading-section">
      <h2>GET IN TOUCH</h2>
      <p>
        Trysail transom furl Sea Legs scallywag Jack Ketch chandler mizzenmast reef sails skysail.
        Shiver me timbers loot bucko belaying pin Sea Legs boom gunwalls booty jury mast fore.
      </p>
    </div>
  
    <div class="contact-form-container">
      <h3>Contact Form</h3>
      <form class="contact-form">
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Name </mat-label>
            <input matInput required />
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Email Address </mat-label>
            <input matInput type="email" required />
          </mat-form-field>
        </div>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Message </mat-label>
          <textarea matInput rows="5" required></textarea>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Send</button>
      </form>
    </div>
  </div>
  